<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 和spring整合后 environments配置将废除-->
	<!--<typeHandlers>-->
		<!--<typeHandler handler="cn.rock.mybatis.typehandler.AddressTypeHandler" />-->
	<!--</typeHandlers>-->
	<!--<plugins>-->
		<!--<plugin interceptor="cn.rock.mybatis.interceptor.MyInterceptor">-->
			<!--<property name="prop1" value="prop1"/>-->
			<!--<property name="prop2" value="prop2"/>-->
		<!--</plugin>-->
		<!--<plugin interceptor="cn.rock.mybatis.interceptor.returnmap.MapInterceptor">-->

		<!--</plugin>-->

		<!--<plugin interceptor="cn.rock.mybatis.interceptor.returnmap.MapInterceptorPlus">-->

		<!--</plugin>-->

	<!--</plugins>-->

	<properties resource="db.properties">

	</properties>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="${url}"/>
				<property name="username" value="root" />
				<property name="password" value="king" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置mapper映射文件 -->

	<mappers>
		<mapper resource="mapping/BlogMapper.xml"/>
		<!--<package name="cn.rock.mybatis.Mapper" />-->
	</mappers>
</configuration>
